.navbar {
  background-color: rgb(59, 58, 58);
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  text-align: left;
  padding: 7px 12px;
  box-shadow: 0 0 12px 0 rgb(59, 58, 58);
  vertical-align: middle;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  width: 60px;
  box-shadow: 0 0 5px 0 black;
  border: 1px sloid transparent;
}
.nav-list {
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
  margin-left: -7px;
  word-break: break-all;
}
.nav-item > a {
  text-decoration: none;
  color: black;
}
.imw {
  text-align: center;
  font-size: xx-large;
}
.welcome {
  font-weight: bolder;
  font-size: 2rem;
  display: inline-block;
  padding-bottom: 7px solid black;
  padding-top: 50px;
  display: inline-block;
  text-align: center;
}
.img1 {
  float: right;
  border-color: black;
  border: 5px;
  margin-top: 2px;
}
.text-align {
  text-align: center;
}
.style {
  padding-bottom: 7px solid;
  margin-top: 10px;
}
.paragraph {
  font-weight: bold;
  color: black;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  padding: 20px;
}
.video {
  max-width: 100%;
  max-height: 100%;
}
video1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 20px;
}
.wrapper-full {
  width: 80%;
  margin: auto;
  box-shadow: 0 0 12px 0 black;
}
.not {
  text-align: center;
}
.h1 {
  text-align: center;
  font-size: xx-large;
}
.b {
  text-align: center;
  font-size: xx-large;
}
.total {
  width: 80%;
  margin: auto;
  box-shadow: 0 0 12px 0 black;
}
